* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
/*MENU*/
.heading{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
.heading ul li{
  display: inline-block;
  padding: 0px 20px;
}
.heading a{
    color: black;
    text-decoration: none;
}
.heading a:hover{
    color: rgb(255, 140, 0);
}

/*INICIO*/
.contenedor-banner {
    background-image: url(../img/inicio999.jpg); 
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center center;   
}

.inicio img {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: brown;
    max-width: 350px;
    margin: auto;
    border-radius: 40px;
    display: flex;
}
.fst-italic{
    font-size: 5em;
    color: rgba(255, 255, 255, 0.805);
}
.fst-italic:hover{
    color: coral;
}

.fst-italic2{
    font-size: 35px;
    color: rgba(255, 255, 255, 0.805);
}



/*SOBRE MI*/
.offcanvas-title{
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    background-color:rgb(255, 140, 0);
}

.sobremi {
    background-color:black ;
    color:#fff ;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    
}
.sobremi .contenido-seccion p span{
    color: rgb(255, 140, 0);
    font-family: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 30px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: rgb(255, 140, 0);
    width: 130px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2B;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: rgb(255, 140, 0);
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 2px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: .1;
    transition: 1s;
}
/*SERVICIOS*/
.containerservicios {
    background-image: url(../img/fondo333.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center center;
}
.containerservicios h4{
    font-size: 48px;
    font-family: 'Righteous';
}
.bloqueservicio {
    padding: 35px 15px;
    transition: all .20s;
}

.bloqueservicio:hover {
    background-color:#1CB698;
    border-radius: 20px;
    box-shadow: 11px 13px 26px 25px rgba(0,0,0,0.1);
    transition: all .20s;
}

.bloqueservicio i:first-child {
    color:mediumvioletred;
}
/*CONTACTO*/
.contacto{
    background-image: url(../img/fondo000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contacto h5{
    font-size: 48px;
    font-family: 'Rigtherous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50px;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #fff;
    color: black;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: #1e2326;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 2px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(255, 140, 0);
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col iframe{
    width: 100%;
    
    
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: rgb(225, 169, 100);
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: rgb(239, 104, 0);
    display: inline-block;
    margin-right: 20px;

}
/*footer*/
footer{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .botones{
    margin-bottom: 20px;
}
footer .botones a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .botones a{
    background-color: rgb(255, 140, 0);
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    
}


/*RESPONSIVE*/
/*@media screen and (max-width:980px){
    menu{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: aqua;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li i{
        border-bottom: 1px solid red;
        padding: 10px 0;
    }

    
}*/




